includes:
    - ../../vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - ../../vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - ../../vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - ../../vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
    disallowedStaticCalls:
        -
            method: 'Carbon\Carbon::now()'
            message: 'use Symfony\Component\Clock\ClockInterface instead'

    disallowedFunctionCalls:
        -
            function: 'empty()'
            message: 'Construct empty() is not allowed. Use more strict comparison like $var === [].'
        -
            function:
                - 'trim()'
                - 'ltrim()'
                - 'rtrim()'
                - 'join()'
                - 'split()'
                - 'str_contains()'
                - 'str_ends_with()'
                - 'str_pad()'
                - 'str_repeat()'
                - 'str_replace()'
                - 'str_shuffle()'
                - 'str_split()'
                - 'str_starts_with()'
                - 'explode()'
                - 'strlen()'
                - 'strtolower()'
                - 'strtoupper()'
                - 'substr()'
                - 'ucfirst()'
                - 'ucwords()'
            message: 'use Atournayre\Primitives\StringType::of() instead, because it is more secure and toString() performs assertion'
            allowIn:
                - tests/*
        -
            function:
                - 'printr()'
                - 'dump()'
                - 'dd()'
                - 'var_dump()'
            message: 'use some logger instead'
        -
            function:
                - 'ini_set()'
                - 'ini_get()'
                - 'ini_restore()'
            message: 'ini_* functions are not allowed'
        -
            function:
                - 'phpinfo()'
            message: 'Exposing the PHP configuration is a security risk'
        -
            function:
                - 'die()'
                - 'exit()'
            message: 'die() and exit() are not allowed'
        -
            function:
                - 'echo'
                - 'debug_backtrace'
                - 'exec'
                - 'passthru'
                - 'phpinfo'
                - 'proc_open'
                - 'shell_exec'
                - 'system'
            message: 'consider using another aproach'

        -
            function:
                - 'array_change_key_case'
                - 'array_chunk'
                - 'array_column'
                - 'array_combine'
                - 'array_count_values'
                - 'array_diff_assoc'
                - 'array_diff_key'
                - 'array_diff_uassoc'
                - 'array_diff_ukey'
                - 'array_diff'
                - 'array_fill_keys'
                - 'array_fill'
                - 'array_filter'
                - 'array_flip'
                - 'array_intersect_assoc'
                - 'array_intersect_key'
                - 'array_intersect_uassoc'
                - 'array_intersect_ukey'
                - 'array_intersect'
                - 'array_key_exists'
                - 'array_keys'
                - 'array_map'
                - 'array_merge_recursive'
                - 'array_merge'
                - 'array_multisort'
                - 'array_pad'
                - 'array_pop'
                - 'array_product'
                - 'array_push'
                - 'array_rand'
                - 'array_reduce'
                - 'array_replace_recursive'
                - 'array_replace'
                - 'array_reverse'
                - 'array_search'
                - 'array_shift'
                - 'array_slice'
                - 'array_splice'
                - 'array_sum'
                - 'array_udiff_assoc'
                - 'array_udiff_uassoc'
                - 'array_udiff'
                - 'array_uintersect_assoc'
                - 'array_uintersect_uassoc'
                - 'array_uintersect'
                - 'array_unique'
                - 'array_unshift'
                - 'array_values'
                - 'array_walk_recursive'
                - 'array_walk'
                - 'array'
                - 'arsort'
                - 'asort'
                - 'compact'
                - 'count'
                - 'current'
                - 'each'
                - 'end'
                - 'extract'
                - 'in_array'
                - 'key_exists'
                - 'key'
                - 'krsort'
                - 'ksort'
                - 'list'
                - 'natcasesort'
                - 'natsort'
                - 'next'
                - 'pos'
                - 'prev'
                - 'range'
                - 'reset'
                - 'rsort'
                - 'shuffle'
                - 'sizeof'
                - 'sort'
                - 'uasort'
                - 'uksort'
                - 'usort'
            message: 'consider using Collections'

    disallowedMethodCalls:
        -
            method: 'Carbon::createFromFormat()'
            message: 'use CarbonHelper::createFromFormat() or another helper instead because assertion is mandatory'
        -
            method: 'Carbon::create()'
            message: 'use CarbonHelper::create() or another helper instead because assertion is mandatory'

    disallowedSuperglobals:
        -
            superglobal: '$_GET'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_POST'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_REQUEST'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_SERVER'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_SESSION'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_COOKIE'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_FILES'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
        -
            superglobal: '$_ENV'
            message: 'use the Symfony\Component\HttpFoundation\Request methods instead'
            errorTip: 'see https://symfony.com/doc/current/components/http_foundation.html#request'
